.App {
  text-align: center;
  /* background-color: 	#1C252C; */
  
}

.home{
  padding: 10px;
}

.page-sign-in {
  color: black;
  margin: 0px !important;
}

/*
.signinform{
  margin-top: 20px;
}
*/

.signupform{
  color: black;
}

.profileImage{
  position: absolute;
  inset: 0px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  object-fit: cover;
  z-index: -1;
  position: fixed;
  opacity: 0.6;
}


.searchBar{
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer{
  z-index:2;
}

.userGrid{
  margin-top: 10px;
}

         
.btn-grad {
  background-image: linear-gradient(to right, #FEAC5E 0%, #C779D0  51%, #FEAC5E  100%) !important;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 20px !important;
}


.flex-container{
  display: flex;
  padding:0px;
  justify-content: center;
}

.swipe-profile{
  min-height: 600px !important;
}

.swiper {
  height: auto;
  color: black;
  width: 100%;
  text-align: left;
}

.swiper h1{
  font-weight: 700;
  font-size: 30px;
  
}

.swiper p{
  font-weight: 600;
}


.swiper-slide {
  margin-left: 0px !important;
  margin-right: 0px !important;
  
}

.userdetail{
  flex-direction: column;
  height: 100%;
  text-align: start;
  justify-content: end;
  position: absolute;
  padding: 10px;
  bottom: 10px;
}

.usersocials{
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-content: center;
  margin: 20px;
  opacity: 0.85;
   
}

.socialmodal{
  opacity: 0.5;
}

.socialbutton{
  position: absolute;
  padding: 50px !important;
 
}

.swipebuttons{
  justify-content: flex-end;
}


