.App {
  text-align: center;
  padding: 10px;
  background-color: 	#1C252C;
  color: aliceblue;
}

h2{
  color: aliceblue;
  padding-left: 20px;
  padding-right: 20px;
}

.searchBar{
  margin-top: 10px;
  margin-bottom: 10px;


}


.userGrid{
  margin-top: 10px;
}

.footer{
  padding: 10px;
}




         
.btn-grad {
  background-image: linear-gradient(to right, #FEAC5E 0%, #C779D0  51%, #FEAC5E  100%) !important;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 10px;
}



