.App {
  text-align: center;
  /* background-color: 	#1C252C; */
}

.page-home {
  padding: 10px;
}

.page-sign-in {
  color: black;
  margin: 0px !important;
}

/*
.signinform{
  margin-top: 20px;
}
*/

.page-sign-up {
  color: black;
}

.page-sign-up .swiper-slide {
  height: 70vh !important;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.page-sign-up .swiper-pagination {
  position: absolute;
  bottom: 5% !important;
}

.profileImage {
  position: absolute;
  inset: 0px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  object-fit: cover;
  z-index: -1;
  position: fixed;
  opacity: 0.6;
}

.search-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  z-index: 2;
}

.userGrid {
  margin-top: 10px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #feac5e 0%,
    #c779d0 51%,
    #feac5e 100%
  ) !important;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 20px !important;
}

.flex-container {
  display: flex;
  padding: 0px;
  justify-content: center;
}

.swipe-profile {
  min-height: 600px !important;
}

.swiper {
  height: auto;
  color: black;
  width: 100%;
  text-align: left;
}

.swiper h1 {
  font-weight: 700;
  font-size: 30px;
}

.swiper p {
  font-weight: 600;
}

.swiper-slide {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.userdetail {
  flex-direction: column;
  height: 100%;
  text-align: start;
  justify-content: end;
  position: absolute;
  padding: 10px;
  bottom: 10px;
}

.usersocials {
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-content: center;
  margin: 20px;
  opacity: 0.85;
}

.socialmodal {
  opacity: 0.5;
}

.socialbutton {
  position: absolute;
  padding: 50px !important;
}

.swipebuttons {
  justify-content: flex-end;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}
.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50%;
}
.calender {
  border-radius: 8px;
  padding: 10px;
  min-width: 100px;
  background-color: white;
  height: 22px;
}

.rmdp-calendar-container-mobile {
  background-color: transparent !important;
}

/*================================================
Preloader Area CSS
=================================================*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  text-align: center;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.preloader .spinner {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  margin: 0 auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  top: 42%;
  -webkit-transform: translateY(-42%);
  transform: translateY(-42%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.preloader::before,
.preloader::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(
    to right,
    #feac5e 0%,
    #c779d0 100%
  ) !important;
  background-size: cover;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.preloader::after {
  left: auto;
  right: 0;
}

.preloader.preloader-deactivate {
  visibility: hidden;
}

.preloader.preloader-deactivate::after,
.preloader.preloader-deactivate::before {
  width: 0;
}

.preloader.preloader-deactivate .spinner {
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
